$body-bg: #000000;
$body-color: #ffffff;

$theme-colors: (
  "primary": #fdf2e9,
  "secondary": #2121c6,
  "success": #577717,
  "info": #c4bfe4,
  "warning": #ffec20,
  "danger": #630c0c,
  "light": #c8c8c8,
  "dark": #500000,
  "custom-color": #5bccf6,
);

@import "bootstrap/scss/bootstrap";
